.credits-page {
    border: solid 2px crimson;
    background: white;
    color: black;
    font-size: x-large;
    /* background-image: url('../../assets/noir-movie-collage.jpg');
    background-repeat: no-repeat center center fixed; */
    height: 50rem;
    /* opacity: 0.85; */
    padding-top: 12rem;
    padding-left: 8rem;
    width: 100%;
}