header {
    /* border: solid 2px crimson; */
    background-color: black;
    background-image: url('../../assets/rw1.gif');
    padding: 20px;
      /* background: black; */
      /* color: black; */
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      position: fixed;
      width: 100%;
      text-align: center;
}

header li {
  /* border: solid 2px crimson; */
    font-size: xx-large;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-left:   0px;
    margin: 1rem;
    color: navajowhite;
}

.banner {
    /* border: solid 2px crimson; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    align-items: right;
    justify-content:space-around;
    color: white;
}

.banner2 {
    /* border: solid 2px crimson; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.top-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* background-image: url('../../assets/rw1.gif'); */
}    

.posters-left {
    /* border: solid 2px green; */
    height: 8rem;
    width: 24rem;
    margin: 2rem;
  }
  
  .posters-left img {
    height: 8rem;
   }
    
  .posters-right {
    /* border: solid 2px green;   */
    height: 8rem;
    width: 24rem;
    margin: 2rem;
  }
  
  .posters-right img {
    height: 8rem;
  }